#Title{ 
		font-family: "Impact";
		font-weight: bold;
		text-decoration: underline;
		text-align: center; 
		color: white;
		background-color: transparent;
		padding: rounded;
}


#TheHeader {
			font-family: "Verdana";
			font-weight: bold;
			margin-left: 35px;
			color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

body { 
		
	font-family: "Verdana";
	color: orange;
	
	 background-image: url("https://hdqwalls.com/download/wild-lion-4k-b0-3840x2160.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-attachment: fixed;
}

h2 {
	font-family: "Impact";
	color: white;
	text-decoration: underline;
}

main {
		font-family: "Verdana";
		margin-left: 30px;
		text-align: left;
		
}
		
	p {
		margin-left: 35px;
		color: white;